@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
  background-color: black;
  color: white;
  border: 2px solid white;
  width: 100%;
}

#title{
  font-size: 60px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

marquee{
  font-size: 30px;  
  font-family: 'Anton', sans-serif;
}

marquee > h1{
  padding: 0;
  margin: 0;
}

pre{
  font-size: 15px;
  margin: 0 10px 10px 10px;
  font-family: 'Anton', sans-serif;
}

fieldset{
  max-width: 900px;
  margin: auto;
  margin-top: 50px;
}

footer{
  margin-top: 50px;
  text-align:center;
  font-family: 'Anton', sans-serif;
}
